<!DOCTYPE html>
<html>
    <head>
        <title>Shopping List Server</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <header>
        <h1>
            <a href="{{ url_for('routes.home') }}">Shopping List Application</a>
        </h1>
    </header>
    <body>
        <h3>
            <a href="{{ url_for('routes.home') }}">Home Page</a>
        </h3>
        <h2>Admin Page</h2>
        <h4>All Shopping Lists</h4>
        <ul>
            {% for shopping_list in shopping_lists %}
            <li>
                <div class="shopping_list">
                    [{{ shopping_list.id }}]
                    <a href="{{ url_for('routes.shopping_list', id=shopping_list.id) }}">
                        {{shopping_list.name}}
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>