<!DOCTYPE html>
<html>
    <head>
        <title>Shopping List Server</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <header>
        <h1>
            <a href="{{ url_for('routes.home') }}">Shopping List Application</a>
        </h1>
    </header>
    <body>
        <h3>
            <a href="{{ url_for('routes.home') }}">Home Page</a>
        </h3>
        <h3>
            <a href="{{ url_for('routes.admin') }}">Admin Page</a>
        </h3>
        <h2>Shopping List Page</h2>
        <h4>ID: [{{ shopping_list.id }}]</h4>
        <h4>Name: {{ shopping_list.name }}</h4>
        <h3>Items</h3>
        <ul>
            {% for item in items %}
            <li>
                <div class="item">
                    {{ item.name }} [{{ item.quantity }}]
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>