<!DOCTYPE html>
<html>

<head>
    <title>Admin Page</title>
</head>

<body>
    <a href="{{ url_for('routes.home') }}">Home</a>
    <h1>Admin Page</h1>
    <h3>Shopping Lists</h3>
    <ul>
        {% for shopping_list in shopping_lists %}
        <li>
            [{{ shopping_list.id }}]
            <a href="{{ url_for('routes.shopping_list', id=shopping_list.id) }}">
                {{shopping_list.name}}
            </a>
            <!-- form action url - delete, shopping_list.id -->

            <form method="POST" action="{{ url_for('routes.delete_shopping_list', id=shopping_list.id) }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>


        </li>
        {% endfor %}
    </ul>
</body>

</html>