<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <header>
        <h1>Shopping List Application</h1>
        <a href="{{ url_for('routes.admin') }}">Admin Page</a>
    </header>
    <body>
        <a href="{{ url_for('routes.home') }}">Home</a>
        <h1>Admin Page</h1>
        <h3>All Shopping Lists</h3>
        <ul>
            {% for shopping_list in shopping_lists %}
            <li>
                [{{ shopping_list.id }}]
                <a href="{{ url_for('routes.shopping_list', id=shopping_list.id) }}">
                    {{shopping_list.name}}
                </a>
                <form method="POST" action="{{ url_for('routes.delete_shopping_list', id=shopping_list.id) }}">
                    <button type="submit" class="delete">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>