<!DOCTYPE html>
<html>

<head>
    <title>Shopping List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/flash_messages.js') }}"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3 class="message">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Shopping List</h1>
    <!-- go back to admin page link -->
    <a href="{{ url_for('routes.admin') }}">Go to admin page</a>
    <form action="/create_shopping_list" method="POST">
        <label for="list_name">Shopping List Name:</label>
        <input type="text" id="list_name" name="name" required>
        <button type="submit">Create new shopping list</button>
    </form>
    <!-- Form for checking a shopping list by ID -->
    <form action="{{ url_for('routes.check_id') }}" method="GET">
        <label for="list_id">Enter Shopping List ID:</label>
        <input type="text" id="list_id" name="id">
        <button type="submit">Check Shopping List</button>
    </form>

</body>

</html>