<!DOCTYPE html>
<html>

<head>
    <title>Shopping List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/flash_messages.js') }}"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h3 class="message">{{ message }}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Shopping List</h1>
    <a href="{{ url_for('routes.admin') }}">Admin Page</a>
    <form action="/create_shopping_list" method="POST">
        <label for="list_name">Create New Shopping List</label>
        <input type="text" id="list_name" name="name" required placeholder="Shopping list name">
        <button type="submit">Submit</button>
    </form>
    <form action="{{ url_for('routes.check_id') }}" method="GET">
        <label for="list_id">View Shopping List</label>
        <input type="text" id="list_id" name="id" placeholder="Shopping list ID">
        <button type="submit">Submit</button>
    </form>

</body>

</html>