body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

h1 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.message {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    width: 400px;
}

h3 a {
    text-decoration: none;
    color: darkblue;
}

h2 {
    color: brown;
}

h4 {
    color: brown;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    width: 400px;
    margin-bottom: 10px;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: darkorange;
    font-size: 14px;
}

.shopping_list,
.item {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    flex: 1;
    margin-right: 10px;
}

.shopping_list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

#item_name {
    width: 270px;
}

#item_quantity {
    width: 270px;
}

.item_button {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.item_button button {
    align-items: center;
    width: 292px;
}
